<ion-content [fullscreen]="true">
  <div id="container" style="position: relative; height: 100%">
    <!-- Thumbnail -->
    <div style="padding: 15px">
      <img src="assets/img/etec-coat-of-arms.png" alt="etec coat of arms" />
    </div>

    <!-- Name -->
    <ion-item>
      <ion-input type="text" placeholder="name" [(ngModel)]="student.name">
      </ion-input>
    </ion-item>

    <!-- Button sign people -->
    <ion-item>
      <ion-button
        class="ion-margim-top"
        lines="none"
        color="primary"
        (click)="insertStudentIntoHome()"
        style="padding: 1px; height: 80%; width: 90%"
      >
        <img
          src="assets/img/sorting-hat.jpg"
          alt="https://clipartart.com/images/sorting-hat-clipart-4.jpg"
          style="width: 120px; height: 120px; object-fit: cover"
        />
        <span></span>
        Send</ion-button
      >
    </ion-item>

    <div style="margin-top: 3px">
      <div>
        <ion-title> Grifinória(Gryffindor) </ion-title>
        <ion-list *ngFor="let grifinoriaStudent of grifinoriaStudents">
          <ion-item>
            <ion-title> {{ grifinoriaStudent }} </ion-title>
          </ion-item>
        </ion-list>
      </div>

      <div>
        <ion-title> Lufa-Lufa(Hufflepuff) </ion-title>
        <ion-list *ngFor="let lufaStudent of lufaStudents">
          <ion-item>
            <ion-title> {{ lufaStudent }} </ion-title>
          </ion-item>
        </ion-list>
      </div>

      <div>
        <ion-title> Corvinal(Ravenclaw) </ion-title>
        <ion-list *ngFor="let corvinalStudent of corvinalStudents">
          <ion-item>
            <ion-title> {{ corvinalStudent }} </ion-title>
          </ion-item>
        </ion-list>
      </div>

      <div>
        <ion-title> Sonserina(Slytherin) </ion-title>
        <ion-list *ngFor="let sonserinaStudent of sonserinaStudents">
          <ion-item>
            <ion-title> {{ sonserinaStudent }} </ion-title>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
